<header class="row">
    <h1 class="text-center col-md-6 col-md-offset-3">Find Movies</h1>
</header>
<section class="row">
    <form>
        <div class="form-group col-md-6 col-md-offset-3">
            <label for="keywords" class="sr-only">Keywords</label>
            <input ng-model="keywords" name="keywords" type="text" autofocus class="form-control" placeholder="Movie name, e.g. Gone Girl">
        </div>
        <div class="form-group col-md-6 col-md-offset-3 text-center">
            <button ng-click="search(keywords)" class="btn btn-primary btn-lg">Search</button>
        </div>
    </form>
</section>
<hr>
<div class="container-fluid">
<div class="row" ng-if="movies">
    <div class="col-sm-12 col-centered">
    <h1 class="text-center h2">Found</h1>
    <h1 class ="text-center h2">{{movies.length}}</h1>
    <ul class="list-unstyled">
        <li ng-repeat="movie in movies">
            <center>
            <section class="well col-md-4 " style="background-image: url({{posters['tt2267998']}});  background-repeat: no-repeat;
    background-position: center; ">
                <h1 class="h3 col-md-6 text-right" style="margin-top: 0"><a style ="color: white" href ng-click="view(movie.id)" >{{movie.name}}</a></h1>
                <!--<div class="center-cropped"
                     style="background-image: url({{posters['tt2267998']}});">
                </div>!--->


                <div class="col-md-6">
                  <button class="btn btn-info">Edit</button>
                  <button class="btn btn-danger">Delete</button>
                </div>

            </section>
            </center>
        </li>
    </ul>
    </div>
</div>
</div>