<div layout="row" >

<header flex="30" class="row">
    <h1 class="text-center">Ceenema</h1>
</header>
<form flex="20" ng-submit="search(keywords)" layout-align="end center">
<div layout="row" >
            <md-input-container  flex="80" md-no-float class="md-block" >
              <input type="text" name="keywords" ng-model="keywords" placeholder="Pesquisar"/>
            </md-input-container>
              <md-button flex="20" ng-click="search(keywords)" class="md-button" aria-label="More" flex="50"> Search </md-button>
</div>
</form>
</div>
  <hr>
<treasure-overlay-spinner active='spinner.active' ng-if="movies">

<div class="container">

<div  layout="row" layout-align="center center" class="row center-block" ng-if="movies">
        <h1 class="text-center h2">{{movies.length}} Movies Found</h1>
        <div ng-repeat="movie in movies">

            <section class="col-md-6">
                <div class="featuredMovie">
                    <img class= "centered-and-cropped" ng-src={{posters[movie.imdb_id]}} height="200" width="100%" href ng-click="view(movie.id)">
                    <p class="movieTitle col-md-12 text-left "><a style ="color: white" href ng-click="view(movie.id)" >{{movie.name}}</a></p>

                    <div class="col-md-12 text-left">

                      <!--<button class="btn btn-info">Edit</button>
                      <button class="btn btn-danger">Delete</button>!-->
                    </div>
                </div>

            </section>
            </div>
        </div>
</div>
</treasure-overlay-spinner>

