<div ng-include="'navbar.html'"></div>
<div class="jumbotron movie-cover"   back-img="{{image}}">
  <div class="gradient-layer">
      <div class="container"  style="height: 100%">
        <div layout="row" layout-align="space-between end"  style="height: 100%">
          <h1 class="mainTitle">{{movie.name}} </h1>
          <md-button>
            <md-icon md-svg-src= <%= asset_url("icons/favorite.svg")%> aria-label="favorite"  style="color:white"></md-icon>
          </md-button>
        </div>
        </div>
      </div>
</div>
<div class="container">
  <p><b>Runtime</b></p>
  <p>{{movie.runtime}}</p>

  <p><b>Sinopse</b></p>
    <p>{{movie.sinopse}}</p>
  <button ng-click="back()" class="btn btn-default">
    &larr; Back
  </button>
</div>



