/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "angular-material/modules/scss/angular-material";
@import "angular-treasure-overlay-spinner/src/treasure-overlay-spinner";
@import "videogular-themes-default/videogular";
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import "navbar";
@import "movie";

// Videogular Font
@font-face {
  font-family: 'videogular';
  src: font-url('videogular.eot');
  src: font-url('videogular.eot?#iefix') format('embedded-opentype'),
  font-url('videogular.svg#videogular') format('svg'),
  font-url('videogular.woff') format('woff'),
  font-url('videogular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


// Color //
// Angular Material default input border color
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #2E2F30;
}

.jumbotron{
  color:white;
}

// Icons //
// Angular Material default icon color
md-icon svg {
  fill: inherit;
}


// Text CSS //
// define main font, background color and fix height problems.
html,body{
  font-family: 'Roboto', sans-serif;
  background-color: white;
  height: 100%;
  margin:0;
}

body {
  overflow-y: hidden;
}
  // / Remove a underline effect
a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}

.jumbotron h1{
  font-size: 8vmin;
}

p{
  font-size: 2vmin !important;
}

// Movie-card title
.movieTitle{
  font-size: 1.53vw;
  background-color:rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
  padding-bottom: 0.76vh;
  padding-top: 0.76vh;
}



//Layout

.gradient-layer{
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.featuredMovie{
  width: 100%;
  height:14vh;
  background-position: center;
  margin: 1em;
  background-color: black;
  height: 14vw;
}

.md-toolbar-tools{
  background-color: rgba(255,255,255,1) !important;

}

//Overlay
/* The Overlay (background) */
.overlay {
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255, 0.9); /* White w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable vertical scroll */
  transition: 0.7s;
}

/* Position the content inside the overlay */
.overlay-content {
  z-index: 100;
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


// Swiper
.swiperCtrlDiv {
  position: relative;
  height: 100%;
}

.swiperCtrlDiv {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  border-color: red;
  border-style: solid;
  border-width: 2px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position-y: center;
  text-align: center;
  font-size: 18px;
  background: white;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

