/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "angular-material/modules/scss/angular-material";
@import "angular-treasure-overlay-spinner/src/treasure-overlay-spinner";
@import "videogular-themes-default/videogular";
@font-face {
  font-family: 'videogular';
  src:url('videogular.eot');
  src:url('videogular.eot?#iefix') format('embedded-opentype'),
  url('videogular.svg#videogular') format('svg'),
  url('videogular.woff') format('woff'),
  url('videogular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import "navbar";
@import "movie";

// Color
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #2E2F30;
}
//Icons
md-icon svg {
  fill: white;
}

//Text CSS

html,body{
  font-family: 'Roboto', sans-serif;
  background-color: white;
  height: 100%;
  margin:0;
}

a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}

.jumbotron{
  color:white;
}

.jumbotron h1{
  font-size: 40px;
}
.movieTitle{
  font-size: 22px;
  background-color:rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

// Image CSS
.center-cropped {
  width: 200px;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
}

.centered-and-cropped {
  background-size: cover;
  object-fit: cover
}



//Transparency
.gradient-layer{
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}



//Layout

.featuredMovie{
  width: 100%;
  height:250px;
  background-position: center;
  margin: 1em;
  background-color: black;
  height: 200px;
}



//Overlay
/* Position the close button (top right corner) */
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(255,255,255); /* Black fallback color */
  background-color: rgba(255,255,255, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  z-index: 100;
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


// Swiper
.swiperCtrlDiv {
  position: relative;
  height: 100%;
}

.swiperCtrlDiv {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  border-color: red;
  border-style: solid;
  border-width: 2px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position-y: center;
  text-align: center;
  font-size: 18px;
  background: white;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

