/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "angular-material/modules/scss/angular-material.css";
@import "angular-treasure-overlay-spinner/src/treasure-overlay-spinner.css";
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.h1{
  font-family: 'Work Sans', sans-serif;
}
body{
  font-family: 'Work Sans', sans-serif;
}

.p{
  font-family: 'Work Sans', sans-serif;
}


.center-cropped {
  width: 200px;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
}


.object-fit_cover {
  object-fit: cover
}


/* centered columns styles */
.row-centered {
  text-align:center;
}


.featuredMovie{
  width: 100%;
  height:250px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1em;
  background-color: black;
}
.movieTitle{
  font-size: 22px;
  margin-top: 0.5em;
}

.centered-and-cropped { object-fit: cover }

a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}

