/*
* MOVIE PAGE CSS
 */


.mainTitle{
    font-weight: 500;
    color: white;
}


.movie-cover{
    padding-bottom: 0px !important;
    background-position: center center;
    height: 35vh;
}

.movie-poster{
    margin-right: 3vw;
    max-height: 35vh;
    max-width: 40vmin;
}
