.navbar{
  background-position: center;
  background-image: asset-data-url("interstellar.jpg");
  object-fit: cover;
  background-color: white;
  background-size:cover;
  margin-bottom:0px !important;
}

.logo{
  margin-left: 3em;
}

