<!DOCTYPE html>
<html>
  <head>
    <title>Ceenema</title>
    <base href="/">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div ng-app="ceenema" autoscroll="true">
    <div layout="column" flex layout-fill style="height: 100vh">
      <!-- Navbar !-->
      <md-toolbar md-scroll-shrink>
        <div ng-include="'navbar.html'"></div>
      </md-toolbar>

      <!-- Fill page with the template content !-->
      <md-content flex layout-fill style="height:100vh " >
        <treasure-overlay-spinner active='spinner.active'>

        <%= yield %>
        </treasure-overlay-spinner>
        <div class="endFooter" layout="row" layout-align="center center"> Images and Videos Provided by IMDB</div>
        </div>
      </md-content>

    </div>



  </div>
  </body>
</html>
