<!DOCTYPE html>
<html>
  <head>
    <title>Ceenema</title>
    <base href="/">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div ng-app="ceenema">
    <div flex layout-fill>
      <!-- Navbar !-->
      <md-toolbar md-scroll-shrink>
        <div ng-include="'navbar.html'"></div>
      </md-toolbar>

      <!-- Fill page with the template content !-->
      <md-content flex style="height: 100vh;" >
      <%= yield %>
      </md-content>

    </div>



  </div>
  </body>
</html>
